body, html {
    font-family: 'Montserrat';
    color: #404040;
    scroll-behavior: smooth;
}


.container {
    width: 1140px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.bw {
    background-size: cover;
    background-position: center;
    min-height: 660px;
    padding-top: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.bw-left__logo-phone {
    display: flex;
    align-items: center;
}

.bw-left__phone {
    margin-left: 18px;
    display: flex;
    flex-direction: column;
}

.bw-left__phone a {
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    line-height: 25px;
    text-decoration: none;
}

.bw-left__title {
    font-size: 60px;
    line-height: 67px;
    color: #f89840;
    font-weight: 800;
    margin-top: 80px;
}

.bw-left__desc {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    color: #ffffff;
    margin-top: 15px;
}

.bw_left__options {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.options-text {
    color: #84FB8B;
    font-size: 16px;
    font-weight: 600;
}

.options-item {
    background-position: center;
    background-size: auto;
    height: 45px;
    width: 45px;
}

.bw-right__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

.bw-right__form {
    margin-top: 44px;
    box-sizing: border-box;
    width: 318px;
    height: 429px;
    background: rgba(104, 117, 77, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(2px);
    border-radius: 15px;
    padding: 0 25px;
}

.discont-timer_wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.timer-wrapper_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -32px;
}

.timer-wrapper_item div:nth-child(1) {
    background-color: #F89840;
    font-size: 36px;
    font-weight: 600;
    color: #ffffff;
    width: 58px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.timer-wrapper_item div:nth-child(2) {
    margin-top: 11px;
    color: #ffffff;
    font-size: 14px;
    font-weight: normal;
    line-height: 17px;
}

.form-discont {
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: line-through;
    text-transform: uppercase;
    color: #E0E0E0;
    opacity: 0.7;
}

.form-price {
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    color: #84FB8B;

}

.bw-right__form form {
    margin-top: 20px;
}

.bw-right__form form input {
    width: 100%;
    height: 58px;
    border: 0;
    background: #FFFFFF;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    display: flex;
    box-sizing: border-box;
}

.bw-right__form-input {
    position: relative;
}

.bw-right__form-input label {
    position: absolute;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    left: 20px;
    top: calc(50% - 7px)
}

.bw-right__form form input:focus+.control-label {
    background-color: #F89840;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: calc(50% - 60px);
    top: -15px;
    animation: label-animation 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes label-animation {
    0% {
        left: 20px;
        top: calc(50% - 7px)
    }

    50% {
        left: calc(50% - 60px);
    }

    100% {
        left: calc(50% - 60px);
        top: -15px;
    }
}

.bw-right__form button {
    width: 100%;
    height: 58px;
    background-color: #F89840;
    color: #ffffff;
    font-size: 14px;
    font-weight: 800;
    line-height: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px transparent;
    border-radius: 10px;
    cursor: pointer;
    box-sizing: border-box;
    transition: .8s;

}

.bw-right__form button:hover {
    border: 4px solid #F89840;
    background-color: white;
    color: black;
    animation: button-animation 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    transition: .8s;
}

@keyframes button-animation {
    0% {
        border: 100% transparent;
    }

    25% {
        border: 25px solid #F89840;
    }

    50% {
        border: 15px solid #F89840;
    }

    100% {
        border: 4px solid #F89840;
    }
}

.form-text {
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #EDF587;
    margin-top: 10px;
}

.form-text span {
    font-weight: 700;
    font-size: 17px;
}

/* Video Block
**************************************
**************************************
*********************************** */
.video {
    padding: 70px 0;
}

.video-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #404040;
}

.video-title span {
    color: #F89840;
}

.video-subtitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #404040;
    margin-top: 17px;
}

.video-desc {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    margin-top: 30px;
}

.video-desc__item p {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #404040;
}

.video-desc__item iframe {
    max-width: 555px;
    max-height: 377px;
    height: 377px;
    border-radius: 20px;
}

/* Benefits block
*****************************************
******************************************
*************************************** */
.benefits {
    background-color: rgba(248, 152, 64, 1);
    position: relative;
}

.benefits::after {
    background-image: url('../img/benefits-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: " ";
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    mix-blend-mode: multiply;
    top: 0;
}

.benefits-text {
    margin-top: 50px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
}

.benefits-text p {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
    margin-left: 30px;
}

.benefits-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    z-index: 2;
}

.benefits-item img {
    background-color: #ffffff;
    border-radius: 20px;
    min-width: 165px;
    min-height: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.benefits-item p {
    margin-top: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}

/* Attribute block
********************************************
********************************************
***************************************** */
.attribute {
    padding: 100px 0;
}

.attribute-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    color: #404040;

}

.attribute-title span {
    color: #F89840;
}

.attribute-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 60px;
    margin-top: 50px;
}

.attribute-item:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.attribute-desc p {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    padding: 0;
    margin: 0;
}

.attribute-item ul {
    margin: 0;
    padding: 0;
    margin-top: 30px;
}

.attribute-item ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.attribute-item ul li {
    border-radius: 10px;
    font-size: 14px;
    line-height: 23px;
    font-weight: 700;
    height: 46px;
    padding: 0 15px;
}

.attribute-item ul li:nth-child(odd) {
    background: #F8F9FA;

}

.attribute-common {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 30px;
}

.attribute-discont {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: line-through;
    text-transform: uppercase;
    opacity: 0.5;
}

.attribute-price {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.attribute-new__price {
    font-weight: 800;
    font-size: 48px;
    line-height: 59px;
}

.attribute-button {
    min-width: 268px;
    height: 56px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 800;
    font-size: 20px;
    line-height: 24px;
    background-color: #84FB8B;
    cursor: pointer;
    color: #404040;
    text-decoration: none;
    border-top: 25px solid transparent;
    border-left: 18px solid transparent;
    border-bottom: 25px solid transparent;
    transition: 0.4s;
}

.attribute-button:hover {
    color: black;
    background-color: #ffffff;
    border-top: 25px solid transparent;
    border-left: 25px solid #84FB8B;
    border-bottom: 25px solid transparent;
    transition: 0.4s;
}

.attribute-tab {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.attribute-tab__thumbnails {
    display: flex;
    justify-content: space-between;
}

.attribute__thumbnails-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110px;
    width: 110px;
    border: 1px solid #ECECEC;
    border-radius: 10px;
    margin: 0 15px;
    cursor: pointer;
    transition: 0.4s;
}

.attribute__thumbnails-item img {
    height: 75%;
    width: auto;
}

.attribute-tab__img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.attribute-tab__img img {
    opacity: 0;
    height: 0;
    transition: 0.3s;
}

.attribute-tab__img .attribute-tab__img-active {
    opacity: 1;
    height: 100%;
    transition: 0.4s;
}

.attribute__thumbnails-item:hover {
    box-shadow: 0 3px 1px #F89840;
    transition: 0.4s;
}

.attribute-tab__item-active {
    box-shadow: 0 3px 1px #F89840;
}

/* Bonus line ***************************************
*****************************************************
*************************************************** */
.bonus {
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 30px;
}

.bonus-line {
    background-color: #F89840;
    padding: 20px 0;

}

.bonus-line__description {
    position: relative;
}

.bonus-line__description::after {
    content: " ";
    display: block;
    background-image: url('../img/gift-line.webp');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 250px;
    height: 80px;
    right: 0;
    top: -12px;
}

.bonus-line__description p {
    font-weight: 700;
    font-size: 23px;
    line-height: 23px;
    color: #FFFFFF;
    padding: 0;
    margin: 0;
}

.bonus-line__description span {
    font-weight: 400;
    font-size: 12.6124px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top: 10px;
    display: flex;
}

.bonus-contact {
    padding: 22px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #555555;
}

.bonus-contact span {
    font-weight: 700;
    font-size: 23.6483px;
    line-height: 29px;
    color: #FFFFFF;
}

.bonus-contact a img {
    margin-right: 8px;
}

.bonus-contact a {
    font-weight: 400;
    font-size: 12.6124px;
    line-height: 15px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.bonus-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.bonus-wrapper__item-title {
    font-weight: 800;
    font-size: 31.531px;
    line-height: 38px;
    color: #FFFFFF;
    margin-top: 16px;
}

.bonus-wrapper__item-list {
    margin-top: 32px;
    background: #F89840;
    border-radius: 7.88276px;
    padding: 12px;
    max-width: 300px;
    position: relative;
}

.item-list-elem {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-list-elem:nth-child(2) {
    margin-top: 16px;
}

.item-list__circle {
    min-width: 71px;
    height: 71px;
    border-radius: 50%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
}

.item-list__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #FFFFFF;
}

.item-list__text span {
    font-weight: 700;
}

.bonus-wrapper__item-list::before {
    content: ' ';
    background-image: url('../img/gift-box-1.png');
    position: absolute;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 140px;
    height: 75px;
    bottom: -36px;
    left: -60px;
}

.bonus-wrapper__item-list::after {
    content: ' ';
    display: block;
    background-image: url('../img/gift-box-2.png');
    width: 170px;
    height: 170px;
    position: absolute;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    top: 12px;
    right: -125px;
}

.bonus-wrapper__item-subtitle {
    font-weight: 400;
    font-size: 12.6124px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 15px;
}

.bonus-wrapper__item-image {
    display: flex;
    position: relative;
}

.item-title__medium {
    font-size: 25px;
}

.item-image__button {
    background: #F89840;
    box-shadow: 0px 0px 7.88276px rgba(242, 181, 37, 0.6);
    border-radius: 8px;
    height: 50px;
    width: 195px;
    margin-top: 30px;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;
    transition: 0.4s;
}

.item-image__button:hover {
    color: black;
    background-color: #ffffff;
    border-top: 25px solid transparent;
    border-left: 15px solid #F89840;
    border-bottom: 25px solid transparent;
    transition: 0.4s;
}

.item-image__thumbnails {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 247px;
    height: 247px;
    border-radius: 50%;
    background-color: #949494;
    left: calc(50% - 30px);
    top: -50px;
    position: absolute;
}

.item-image__thumbnails img {
    position: relative;
    z-index: 2;
}

.item-image__thumbnails::after {
    content: ' ';
    display: block;
    background-image: url('../img/gift-circle.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 75px;
    height: 75px;
    position: absolute;
    top: 0;
    right: 0;
}

.bags-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 70px 0;
}

.bags-wrapper-title {
    margin-top: 53px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;

    color: #404040;
}

.bags-wrapper-title span {
    color: #F89840;
}